
        *{
            box-sizing: border-box;
        }
          body{
              margin: 0;
              padding: 0;

          }
        .all{
            width: 100%;
            height: 100vh;
           
        }
        .all-left{
            width: 228px;
            height: 100%;
            background-color: linen;
            float: left;
            position: relative;
        }
        .logo{
            width: 100px;
            height: 100px;
            background-color: lightsteelblue;
            margin: auto;
            margin-top: 20%;
            margin-bottom: 40px;
        }
        .all-left-meau{
           width: auto;
           height: auto;
          
          
           margin: auto;
           
        }
        .all-left-meau-btm{
            
            margin: auto;
            margin-bottom: 1px;
            text-align: center;

        }
        .all-left-meau-btm a:link{
            color: rgb(132, 243, 243);
            }
          
        .all-left-meau-btm a:hover{
            color: red;
        }
        .all-left-meau-btm a:active{
            color: saddlebrown;
        }
        

        .btm1{
            color: brown;
            font-size: 15px;
        }
        
        .btm2{
            color: burlywood;
            font-size: 15px;
        }
        .btm3{
            color: cornflowerblue;
            font-size: 15px;
        }
          
        .all-right{
            width: calc(100% - 228px);
            height: 100vh;
           
            float: right;
            padding-top: 50vh;
        }
        .all-right-section{
            width: 800px;
            height: 700px;
            
            transform: translate(0,-50%);
            margin: auto;
            
            
        }
        .section-btm{
            width: 33%;
            height: 100%;
            background-color: palevioletred;
            background-position: center;
            background-size: cover;
            float: left;

         

           

        }
        .st1{
            background-image:url(./img/800_0a8d6f3fac733f4ee62b878b5f08251c.jpg) ;
        }
        .st2{
            width:calc(34% - 20px) ;
            margin:0px 10px;
            background-image: url(./img/plan_201810011252101_b.jpg);
            
        }
        .st3{
            background-image: url(./img/835DF367-12DB-5B36-8E95-4B1FE7CF223A.jpg);
        }
       
    